.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    padding: 10px 25px; 
    border-radius: 50px; /* Efeito Pill */
    display: inline-flex; 
    align-items: center; 
    gap: 8px; 
    text-decoration: none;
}

.btn-danger:hover {
    background-color: #9a2632; 
    border-color: #9a2632;
    transform: translateY(-2px); 
}

.btn-danger i.bi {
    font-size: 1.2em;
}

h4 {
    font-weight: 900;
}

.rules h5 {
    font-weight: 900;
}
.rules li {
    list-style: unset;
}

.legenda {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
}

/* --- Estilos para os dias com reservas --- */
.flatpickr-day {
    position: relative;
    border: 1px solid transparent; /* Mantém o layout consistente */
}

.flatpickr-day.dia-festa::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid #007bff;
    border-radius: 50%;
    pointer-events: none;
}

.flatpickr-day.dia-churras::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid #ff3b3b;
    border-radius: 50%;
    pointer-events: none;
}

.flatpickr-day.dia-duplo {
    position: relative;
}

.flatpickr-day.dia-duplo::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 50%;
    pointer-events: none;
    border: 2px solid transparent;
    /* Borda azul na metade esquerda */
    border-left-color: #007bff;
    border-top-color: #007bff;
    /* Borda vermelha na metade direita */
    border-right-color: #ff3b3b;
    border-bottom-color: #ff3b3b;
}
/* Mantenha os estilos padrão do flatpickr */
.flatpickr-day:hover {
    background: #e6e6e6;
}

.flatpickr-day.selected {
    background: #569ff7;
    color: white;
}

.flatpickr-day.today {
    border-color: #959ea9;
}

/* Legenda */
.legenda.azul {
    background: #007bff;
}

.legenda.vermelho {
    background: #ff3b3b;
}

.legenda.duplo {
    background: linear-gradient(
        to right,
        #007bff 50%,
        #ff3b3b 50%
    );
}