<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boa Vizinhança - Solicitar Acesso</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acesso.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='uploads/logo2.png') }}" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <h3>Não tem um acesso no Boa Vizinhança?</h3>
        <hr>
        <p>Solicite seu acesso!</p>

        <form action="#" method="POST">
            <input type="email" name="email" placeholder="Digite seu e-mail" required class="input-field">

            <button type="submit" class="btn-email">
                Receba um email com instruções
            </button>
        </form>

        <a href="{{ url_for('login') }}" class="btn-voltar">
            <i class="bi bi-box-arrow-in-right"></i> Voltar
        </a>
    </div>
</body>

</html>
