{% extends "base.html" %}
{% block title %}Achados e Perdidos{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aeps.css') }}">

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                <h4>Achados e Perdidos</h4>
                <a href="{{ url_for('aeps_bp.novo_aeps') }}" class="btn btn-danger rounded-pill px-4">
                    <i class="bi bi-journal-plus"></i> Achou ou Perdeu Algo? <!-- trocar o nome disso -->
                </a>
            </div>
            {% for aep in aeps %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><strong>{{ aep.titulo }}</strong></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ aep.descricao }}</p>
                    <p class="card-text">Encontrado em: {{ aep.local }}</p>
                    <p class="card-text {% if aep.status == 'achado' %}text-success{% elif aep.status == 'perdido' %}text-danger{% endif %}">
                        {{ aep.status }}
                    </p>
                    <p class="card-text">Data: {{aep.data_encontro}}</p>
                </div>
                <div class="card-footer text-body-secondary">
                    <small class="text-muted">
                        <p>
                            <{{ aep.usuario_id }}</p>
                    </small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}