{% extends "base.html" %}
{% block title %}Avisos{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/avisos.css') }}">

<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h4>Novo Aviso</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="id">

                    <div class="mb-3">
                        <label for="nome_aviso" class="form-label">Título do Aviso: </label>
                        <input type="text" name="nome_aviso" id="nome_aviso" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição do Aviso: </label>
                        <textarea name="descricao" id="descricao" class="form-control" required></textarea>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4 prazo">
                        <label for="data_aviso" class="form-label">Quando?/Prazo (caso exista): </label>
                        <input type="date" name="data_aviso" id="data_aviso" class="form-control">
                        <input type="time" name="horario_aviso" id="horario_aviso" class="form-control">
                    </div>
                    <div class="d-grip gap-2 d-md-flex justify-content-md-between mt-4">
                        <label for="status" class="form-label">Status: </label>
                        <select name="status" id="status">
                            <option value="urgente">Urgente</option>
                            <option value="media">Médio</option>
                            <option value="nao_urgente">Não Urgente</option>
                        </select>
                    </div>

                    <!-- add input foto aqui -->
                    
                    <div class="mb-3">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                            <button type="submit" class="btn btn-danger rounded-pill px-4">
                                <i class="bi bi-save"></i> {{ "Salvar" if not aviso else "Atualizar" }}
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}