{% extends "base.html" %}
{% block title %}Avisos{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/avisos.css') }}">

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                <h4>Aviso</h4>
                {% if usuario_logado.is_adm or usuario_logado.is_sindico %}
                <a href="{{ url_for('avisos_bp.novo_aviso') }}" class="btn btn-danger rounded-pill px-4">
                    <i class="bi bi-journal-plus"></i> Emita um novo aviso <!-- trocar o nome disso -->
                </a>
                {% endif %}
            </div>
            {% for aviso, usuario in avisos %}
            <div class="card mt-3 shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0"><strong>{{ aviso.nome_aviso }}</strong></h5>

                    {% if usuario_logado.is_adm or usuario_logado.is_sindico %}
                    <form action="{{ url_for('avisos_bp.excluir_aviso', aviso_id=aviso.id) }}" method="POST"
                        onsubmit="return confirm('Tem certeza que deseja excluir?');">
                        <button class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>

                <div class="card-body">

                    {% if aviso.foto_id %}
                    <img src="{{ url_for('static', filename='uploads/' ~ aviso.foto.foto_path) }}"
                        class="img-fluid rounded mb-3" style="max-height: 250px; object-fit: cover;">
                    {% endif %}

                    <p class="card-text"><strong>Descrição:</strong> {{ aviso.descricao }}</p>
                    <p class="card-text"><strong>Em/Até:</strong> {{ aviso.data_aviso.strftime('%d/%m/%Y') if aviso.data_aviso else 'Não informado' }} - {{ aviso.horario_aviso }}</p>

                    <p class="card-text {% if aviso.status == 'urgente' %}text-danger{% elif aviso.status == 'media' %}text-warning{% elif aviso.status == 'nao_urgente' %}text-success{% endif %}">
                        <strong>Status:</strong> {{ categoria_avisos.get(aviso.status) | capitalize }}
                    </p>
                </div>

                <div class="card-footer text-muted">
                    <small>Postado por <strong>{{ usuario.nome }}</strong> em
                        {{ aviso.data_criacao.strftime('%d/%m/%Y %H:%M') }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}