<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boa Vizinhança - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('painel') }}"><i class="bi bi-house-heart-fill"></i> Boa Vizinhança</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{{ url_for('painel') }}" title="Painel" id="nav-link" class="nav-link">Painel</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" title="Chat" id="nav-link" class="nav-link">Chat</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="{{ url_for('trabalhos') }}" title="Serviços" id="nav-link" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('perfil') }}" title="Perfil" id="nav-link" class="nav-link">Perfil</a>
                    </li>
                    {% if usuario.is_adm %}
                    <li class="nav-item">
                        <a href="{{ url_for('usuarios_bp.novo') }}" title="Cadastro de Moradores" id="nav-link" class="nav-link">Cadastro de Moradores</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

        <div class="main p-3">
            <!-- conteúdo -->
            {% block content %} {% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>