<!-- placeholder / mudar os campos -->

{% extends "base.html" %}
{% block title %}Cadastro Trabalhos{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h4>{{ "Novo Morador" if not produto else "Editar Morador" }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="id">

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome do Produto</label>
                        <input type="text" name="nome" id="nome" class="form-control"
                            value="{{ produto.nome if produto else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome do Fornecedor</label>
                        <input type="text" name="nome" id="nome" class="form-control"
                            value="{{ produto.nome if produto else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea name="descricao" id="descricao" class="form-control"
                            rows="3">{{ produto.descricao if produto else '' }}</textarea>
                    </div>

                    <div class="mb-3">
                        <label for="preco" class="form-label">Preço</label>
                        <input type="number" step="0.01" min="0" name="preco" id="preco" class="form-control"
                            value="{{ produto.preco if produto else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="estoque" class="form-label">Quantidade em Estoque</label>
                        <input type="number" min="0" name="estoque" id="estoque" class="form-control"
                            value="{{ produto.estoque if produto else '' }}" required>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                        <button type="submit" class="btn btn-danger rounded-pill px-4">
                            <i class="bi bi-save"></i> {{ "Salvar" if not produto else "Atualizar" }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}