{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<div class="container">
    <!-- AVISO URGENTE -->
    {% if aviso %}
    <div class="container aviso">
        <div class="row mt-4">
            <div class="col">
                <a href="#">
                    <div class="card border-danger shadow">
                        <div class="card-body">
                            <div class="card-title text-danger">
                                <h5><strong>{{ aviso.nome_aviso }}</strong></h5>
                            </div>
                            <div class="card-text">
                                <span>{{ aviso.descricao }}</span><br>
                                <small>Dia: {{ aviso.data_aviso }}</small> |
                                <small>Horário: {{ aviso.horario_aviso }}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-muted text-center mt-3">Nenhum aviso <strong>urgente</strong> no momento.</p>
    {% endif %}
</div>

<!-- OUTRAS SEÇÕES -->
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <h4>Converse com o Síndico</h4>
                        <span>Mande mensagem para o síndico do seu condomínio</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{{ url_for('trabalhos_bp.trabalhos') }}">
                <div class="card">
                    <div class="card-body">
                        <h4>Serviços da Comunidade</h4>
                        <span>Conheça os trabalhos da sua comunidade</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
</div>

<!-- recentes -->
<div class="container">
    <div class="row mt-4 importante">
        <div class="col">
            <h4>Últimos Avisos</h4>
            {% if avisos %}
            {% for aviso in avisos %}
            <a href="#">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>{{ aviso.nome_aviso }}</h5>
                        </div>
                        <div class="card-text">
                            <span>{{ aviso.descricao }}</span><br>
                            <small>Dia: {{ aviso.data_aviso.strftime('%d/%m/%Y') }}</small> |
                            <small>Horário: {{ aviso.horario_aviso.strftime('%H:%M') }}</small>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <p class="text-muted text-center mt-3">Nenhum aviso no momento.</p>
            {% endif %}
        </div>
        <div class="col">
            <h4>Últimos Achados e Perdidos</h4>

            {% if aeps %}
            {% for aep in aeps %}
            <a href="#">
                <div class="card mb-3">
                    <div class="card-body">

                        <h5 class="card-title">{{ aep.descricao }}</h5>

                        <p class="m-0">
                            <strong>Status:</strong>
                            <span class="{% if aep.status == 'achado' %}text-success{% else %}text-danger{% endif %}">
                                {{ aep.status }}
                            </span>
                        </p>

                        <small>
                            Dia: {{ aep.data_encontro.strftime('%d/%m/%Y') if aep.data_encontro else 'Não informado' }}
                        </small>

                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <p class="text-muted text-center mt-3">Nada encontrado.</p>
            {% endif %}
        </div>

    </div>
</div>

<!-- trabalhos RECENTES -->
<div class="container">
    <div class="row mt-4 importante">
        <div class="col">
            <h4>Últimos Trabalhos</h4>

            {% if trabalhos %}
            {% for trabalho in trabalhos %}
            <a href="#">
                <div class="card mb-3">
                    <div class="card-body"> 

                        <h5 class="card-title">{{ trabalho.nome_trabalho }}</h5>

                        <p class="card-text m-0">
                            <strong>Categoria:</strong> {{ categoria_trabalho.get(trabalho.categoria) }}
                        </p>
                        <p class="card-text m-0">
                            <strong>Contato:</strong> {{ trabalho.contato }}
                        </p>

                        <small>
                            Publicado em:
                            {{ trabalho.data_trabalho.strftime('%d/%m/%Y %H:%M') }}
                        </small>

                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <p class="text-muted text-center mt-3">Nenhum trabalho cadastrado.</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}