{% extends "base.html" %}
{% block title %}Painel de Controle{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/painel_sindico.css') }}">

<div class="container">
    <h4>Painel de Controle</h4> 
    
    <div class="container">
        <div class="row mt-4"> 
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('usuarios_bp.novo') }}">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Cadastro de Moradores</h5>
                            </div>
                            <div class="card-text">
                                <span>Faça o cadastro de novos moradores.</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('usuarios') }}">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Listagem de Moradores</h5>
                            </div>
                            <div class="card-text">
                                <span>Acompanhe seus moradores.</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('avisos') }}">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Criação e Edição de Avisos</h5>
                            </div>
                            <div class="card-text">
                                <span>Acompanhe os avisos.</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('aeps') }}">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Criação e Edição de Achados e Perdidos</h5>
                            </div>
                            <div class="card-text">
                                <span>Acompanhe os achados e perdidos</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('reservas') }}">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Reservas de Serviços</h5>
                            </div>
                            <div class="card-text">
                                <span>Acompanhe as reservas do condomínio</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             </div>
    </div>
</div>
{% endblock %}