{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}

<div class="perfil-container">

    <!-- CARD DO USUÁRIO -->
    <div class="row mt-4">
        <div class="col">
            <div class="card" style="width: 320px;">
                <div class="card-title">
                    <div class="perfil-info">
                        <img src="{{ url_for('static', filename='uploads/' ~ (usuario.foto if usuario.foto else 'default.png')) }}"
                            alt="Foto de Perfil" class="perfil-foto">
                    </div>
                </div>
                <div class="card-body">
                    <p><strong>Nome:</strong> {{ usuario.nome }}</p>
                    <p><strong>Bloco:</strong> {{ usuario.bloco or 'Não informado' }}</p>
                    <p><strong>Apartamento:</strong> {{ usuario.apartamento or 'Não informado' }}</p>
                </div>
            </div>

            <a href="{{ url_for('usuarios_bp.logout') }}" class="btn btn-danger rounded-pill px-4 mt-3">
                Sair <i class="bi bi-box-arrow-in-right"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}