{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicos.css') }}">

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h4>Serviços</h4>
            {% for servico in servico %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><strong>{{ trabalho.nome_trabalho }}</strong></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ servico.desc }}</p>
                    
                <div class="card-footer">
                    <small class="text-muted">
                        Responsável: {{ usuarios[servico.user_id].nome if servico.user_id in usuarios}}
                    </small>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}