{% extends "base.html" %}
{% block content %}
        <h2>Serviço de Moradores</h2>
        
        <div class="services-grid">
            
            {% for i in range(9) %}
            <div class="service-card">
                <div class="service-role">CONFEITEIRA</div>
                <div class="service-content">
                    <div class="service-avatar-container">
                        <div class="service-avatar"></div>
                    </div>
                    <div class="service-info">
                        <h3>Maria Fátima</h3>
                        <p>Bloco B</p>
                        <p>Apto 102</p>
                        <div class="service-contact">
                            <i class="fas fa-phone-alt"></i>
                            <span>(11) 94005-8033</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
{% endblock %}