{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trabalhos.css') }}">

<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h4>{{ "Novo Trabalho" if not trabalho else "Editar Trabalho" }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="id">

                    <div class="mb-3">
                        <label for="nome_trabalho" class="form-label">Título do Trabalho: </label>
                        <input type="text" name="nome_trabalho" id="nome_trabalho" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição do Trabalho: </label>
                        <textarea name="descricao" id="descricao" class="form-control" required></textarea>
                    </div>

                    <!-- add input foto aqui -->
                    
                    <div class="d-grip gap-2 d-md-flex justify-content-md-between mt-4">
                        <label for="categoria" class="form-label">Categoria: </label>
                        <select name="categoria" id="categoria">
                            <option value="prestacao_servico">Prestação de Serviços</option>
                            <option value="alimentacao">Alimentação</option>
                            <option value="beleza">Beleza</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                            <button type="submit" class="btn btn-danger rounded-pill px-4">
                                <i class="bi bi-save"></i> {{ "Salvar" if not trabalho else "Atualizar" }}
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}