{% extends "base.html" %}
{% block title %}Serviços{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trabalhos.css') }}">

<div class="container mt-4">

    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
        <h4>Trabalhos</h4>
        <a href="{{ url_for('trabalhos_bp.novo_trabalho') }}" class="btn btn-danger rounded-pill px-4">
            <i class="bi bi-journal-plus"></i> Mostre seu trabalho!
        </a>
    </div>

    <div class="row mt-4">

        {% for trabalho, usuario in trabalhos %}
        <div class="col-md-6 mb-4"> <!-- 2 colunas por linha -->

            <div class="card shadow-sm h-100">

                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0"><strong>{{ trabalho.nome_trabalho }}</strong></h5>

                    {% if trabalho.usuario_id == session['user_id'] %}
                    <form action="{{ url_for('trabalhos_bp.excluir_trabalho', trabalho_id=trabalho.id) }}" method="POST"
                        onsubmit="return confirm('Tem certeza que deseja excluir?');">
                        <button class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>

                <div class="card-body">

                    <p class="card-text"><strong>Descrição:</strong> {{ trabalho.descricao }}</p>

                    <p class="card-text">
                        <strong>Status:</strong> {{ categoria_texto.get(trabalho.categoria) }}
                    </p>

                    <p class="card-text">
                        <strong>Contato:</strong> {{ trabalho.contato }}
                    </p>
                    <p class="card-text">
                        <strong>Onde Encontrar:</strong> Bloco {{ trabalho.bloco }} - Apto. {{ trabalho.apartamento }}
                    </p>
                </div>

                <div class="card-footer text-muted">
                    <small>Postado por <strong>{{ usuario.nome }}</strong> em
                        {{ trabalho.data_trabalho.strftime('%d/%m/%Y %H:%M') }}</small>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}