{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trabalhos.css') }}">

<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h4>{{ "Novo Trabalho" if not trabalho else "Editar Trabalho" }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="id">

                    <div class="mb-3">
                        <label for="nome" class="form-label">Título do Trabalho: </label>
                        <input type="text" name="nome" id="nome" class="form-control"
                            value="{{ trabalho.nome if trabalho else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email do Morador: </label>
                        <input type="text" name="email" id="email" class="form-control"
                            value="{{ trabalho.email if trabalho else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha (Padrão): </label>
                        <input type="password" name="senha" id="senha" class="form-control">
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                        <label for="apartamento" class="form-label">Apto.: </label>
                        <input type="number" min="0" name="estoque" id="estoque" class="form-control"
                            value="{{ trabalho.estoque if trabalho else '' }}" required>
                        <label for="bloco" class="form-label">Bloco: </label>
                        <input type="number" name="bloco" id="bloco" class="form-control">
                    </div>
                    <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-4">
                        <button type="submit" class="btn btn-danger rounded-pill px-4">
                            <i class="bi bi-save"></i> {{ "Salvar" if not trabalho else "Atualizar" }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}